[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/solidity-fixed-point"]
	path = lib/solidity-fixed-point
	url = https://github.com/ainmox/solidity-fixed-point
