[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/solidity-fixed-point"]
	path = lib/solidity-fixed-point
	url = https://github.com/ainmox/solidity-fixed-point
[submodule "lib/solidity-standard-interfaces"]
	path = lib/solidity-standard-interfaces
	url = https://github.com/ainmox/solidity-standard-interfaces
[submodule "lib/solidity-erc20"]
	path = lib/solidity-erc20
	url = https://github.com/ainmox/solidity-erc20
[submodule "lib/solidity-commons"]
	path = lib/solidity-commons
	url = https://github.com/ainmox/solidity-commons
[submodule "lib/erc4626-tests"]
	path = lib/erc4626-tests
	url = https://github.com/a16z/erc4626-tests
